In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('data/BTC-USD.csv')
df.head()

,pDate,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [50]:
df['pDate'] = pd.to_datetime(df['pDate'], format = "%Y-%m-%d")
df.set_index('pDate', inplace = True)
df.head()

,Open,High,Low,Close,Adj Close,Volume
pDate,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [51]:
df.loc['2021-11']

,Open,High,Low,Close,Adj Close,Volume
pDate,,,,,,
2021-11-01,61320.449219,62419.003906,59695.183594,61004.406250,61004.406250,36150572843
2021-11-02,60963.253906,64242.792969,60673.054688,63226.402344,63226.402344,37746665647
2021-11-03,63254.335938,63516.937500,61184.238281,62970.046875,62970.046875,36124731509
2021-11-04,62941.804688,63123.289063,60799.664063,61452.230469,61452.230469,32615846901
2021-11-05,61460.078125,62541.468750,60844.609375,61125.675781,61125.675781,30605102446
2021-11-06,61068.875000,61590.683594,60163.781250,61527.480469,61527.480469,29094934221
2021-11-07,61554.921875,63326.988281,61432.488281,63326.988281,63326.988281,24726754302
2021-11-08,63344.066406,67673.742188,63344.066406,67566.828125,67566.828125,41125608330
2021-11-09,67549.734375,68530.335938,66382.062500,66971.828125,66971.828125,42357991721
2021-11-10,66953.335938,68789.625000,63208.113281,64995.230469,64995.230469,48730828378
2021-11-11,64978.890625,65579.015625,64180.488281,64949.960938,64949.960938,35880633236
2021-11-12,64863.980469,65460.816406,62333.914063,64155.941406,64155.941406,36084893887
2021-11-13,64158.121094,64915.675781,63303.734375,64469.527344,64469.527344,30474228777
2021-11-14,64455.371094,65495.179688,63647.808594,65466.839844,65466.839844,25122092191
2021-11-15,65521.289063,66281.570313,63548.144531,63557.871094,63557.871094,30558763548
2021-11-16,63721.195313,63721.195313,59016.335938,60161.246094,60161.246094,46844335592
2021-11-17,60139.621094,60823.609375,58515.410156,60368.011719,60368.011719,39178392930
2021-11-18,60360.136719,60948.500000,56550.792969,56942.136719,56942.136719,41388338699
2021-11-19,56896.128906,58351.113281,55705.179688,58119.578125,58119.578125,38702407772
2021-11-20,58115.082031,59859.878906,57469.726563,59697.195313,59697.195313,30624264863
2021-11-21,59730.507813,60004.425781,58618.929688,58730.476563,58730.476563,26123447605
2021-11-22,58706.847656,59266.359375,55679.839844,56289.289063,56289.289063,35036121783
2021-11-23,56304.554688,57875.515625,55632.761719,57569.074219,57569.074219,37485803899
2021-11-24,57565.851563,57803.066406,55964.222656,56280.425781,56280.425781,36635566789
2021-11-25,57165.417969,59367.968750,57146.683594,57274.679688,57274.679688,34284016248
2021-11-26,58960.285156,59183.480469,53569.765625,53569.765625,53569.765625,41810748221
2021-11-27,53736.429688,55329.257813,53668.355469,54815.078125,54815.078125,30560857714
2021-11-28,54813.023438,57393.843750,53576.734375,57248.457031,57248.457031,28116886357
2021-11-29,57291.906250,58872.878906,56792.527344,57806.566406,57806.566406,32370840356
2021-11-30,57830.113281,59113.402344,56057.281250,57005.425781,57005.425781,36708594618

In [52]:
df1 = pd.read_csv("data/BTC-USD.csv", index_col = "pDate", parse_dates = True)
df1.index

DatetimeIndex(['2014-09-17', '2014-09-18', '2014-09-19', '2014-09-20',
               '2014-09-21', '2014-09-22', '2014-09-23', '2014-09-24',
               '2014-09-25', '2014-09-26',
               ...
               '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-10',
               '2024-02-11', '2024-02-12', '2024-02-13', '2024-02-14',
               '2024-02-15', '2024-02-16'],
              dtype='datetime64[ns]', name='pDate', length=3440, freq=None)

In [60]:
df.resample('W').mean()

,Open,High,Low,Close,Adj Close,Volume,7_day_rolling
pDate,,,,,,,
2014-09-21,429.916998,437.718194,406.624402,416.859003,416.859003,3.138068e+07,NaN
2014-09-28,410.650718,418.668993,399.377141,407.692566,407.692566,2.668180e+07,411.899950
2014-10-05,369.774288,376.721000,353.207140,361.426570,361.426570,3.952256e+07,384.089446
2014-10-12,346.927429,363.308864,337.567858,355.234580,355.234580,4.873611e+07,347.451841
2014-10-19,389.010284,397.790427,380.410575,390.479854,390.479854,2.241458e+07,380.246799
...,...,...,...,...,...,...,...
2024-01-21,42094.765067,42688.522321,41407.597656,42071.628906,42071.628906,1.987655e+10,42855.313696
2024-01-28,40700.582589,41388.431362,39997.193638,40762.331473,40762.331473,2.218780e+10,40897.438537
2024-02-04,42872.099889,43426.494420,42365.402344,42951.560826,42951.560826,1.931203e+10,42325.665418
2024-02-11,44696.719308,45941.541853,44526.495536,45510.789063,45510.789063,2.254663e+10,43790.724012
2024-02-18,50349.140625,51569.244531,49717.585938,51061.395313,51061.395313,3.659387e+10,48471.420759

In [62]:
df['7_day_rolling'] = df['Close'].rolling(window = 7).mean()
df[['Close', '7_day_rolling']].plot)